@import './Variables.scss';
@import './mixins.scss';

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //this defines what 1rem is
  font-size: 62.5%; //1rem = 10px;  10px/16px = 62.5%
  
  @include respond(tab-land){ // width < 1200
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }
  @include respond(tab-port){ // width < 900
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop){
    font-size: 75%; //1rem = 12, 12/16 = 75%
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  @include respond(tab-port){
    padding: 0;
  }
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;
  
  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

      
    @include respond(phone){
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  
    /* animation-delay: 3s;
    animation-iteration-count: 3; */
  }
  
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75rem;
  
    animation: moveInRight 1s ease-out;
    @include respond(phone){
      letter-spacing: .5rem;
    }
  }
}


.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    @include respond(tab-port){
      font-size: 3rem;
    }

    @include respond(phone){
      font-size: 2.5rem;
    }

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
    }
}

.row{
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-vertical;
        @include respond(tab-port){
          margin-bottom: $gutter-vertical-small;
        }
    }

    @include respond(tab-port){
      max-width: 50rem;
      padding: 0 3rem;
    }

    @include clearfix;

    [class^="col-"]{    // ^ que empiece con // * que contenga // $ que termine con
        float: left;

        &:not(:last-child){
            margin-right: $gutter-horizontal;
            @include respond(tab-port){
              margin-right: 0;
              margin-bottom: $gutter-vertical-small;
            }
        }

        @include respond(tab-port){
          width: 100% !important;
        }
    }

    .col-1-of-2{
        width: calc((100% - #{$gutter-horizontal}) / 2);
    }

    .col-1-of-3{
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }

    .col-1-of-4{
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
    }

    .col-2-of-3{
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
    }

    .col-2-of-4{
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
    }

    .col-3-of-4{
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
    }
}

.u-center-text{
    text-align: center !important;
}

.u-margin-bottom-big{ 
  margin-bottom: 8rem !important;

  @include respond(tab-port){
    margin-bottom: 5rem !important;
  }
}
.u-margin-bottom-medium{ 
  margin-bottom: 4rem !important;

  @include respond(tab-port){
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-small{ margin-bottom: 1.5rem !important;}

.u-margin-top-big{ margin-top: 8rem !important;}
.u-margin-top-huge{ margin-top: 10rem !important;}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-size: $default-font-size;
    
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}

.btn-text{
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}

.btn{
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all 0.2s;
      position: relative;
      font-size: $default-font-size;

      //change for the <button>
      border: none;
      cursor: pointer;
    }
  
    &:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  
      &::after {
        transition: all 0.1s;
      }
    }
    
    &:focus,
    &:active {
      outline: none;
      transform: translateY(-0.1rem);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  
    &--white {
      background-color: $color-white;
      color: $color-gray-dark;
  
      &::after {
        background-color: $color-white;
      }
    }

    &--green {
      background-color: $color-primary;
      color: $color-white;
  
      &::after {
        background-color: $color-primary;
      }
    }
  
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10rem;
      z-index: -1;
    }
  
    &--animated {
      animation: moveInBottom 0.5s ease-out 0.75s;
      animation-fill-mode: backwards;
    }
  }

.form{
  &__group:not(:last-child){
    margin-bottom: 2rem;
  }

  &__input{
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    @include respond(tab-port){
      width: 100%;
    }

    &:focus{
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  } 

  &__radio-group{
    width: 49%;
    display: inline-block;

    @include respond(tab-port){
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label{
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: $color-primary;
      opacity: 0;
      transition: opacity .2s;
    }
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}

.popup{
  &__left{
      width: 33.33333%;
      display: table-cell;

      @include respond(phone){
        display: table-header-group;
      }
  }

  &__right{
      width: 66.66667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem;
  }

  &__img{
      display: block;
      width: 100%;
      @include respond(phone){
        display: inline-block;
        width: 50%;
      }
  }

  &__text{
      font-size: 1.4rem;
      margin-bottom: 4rem;

      @include respond(tab-port){
        font-size: 1.1rem;
      }
      
      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid $color-gray-light-2;

      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid $color-gray-light-2;

      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
  }
}

::selection{
  background-color: $color-primary;
  color: white;
}